" Leaderキーをスペースにする
let mapleader = "\<Space>"

" unite.vimのキーマップ
nnoremap [denite] <Nop>
nmap <Leader>u [denite]
nnoremap [denite]b :<C-u>Denite<Space>buffer<CR>
nnoremap [denite]f :<C-u>Denite<Space>file_rec -highlight-mode-insert=Search<CR>
nnoremap [denite]m :<C-u>Denite<Space>file_mru<CR>
nnoremap [denite]d :<C-u>call denite#start([{'name': 'file_rec', 'args': ['~/dotfiles']}])<CR>
